/* Styles untuk kartu nama */
    .card {
        width: 90%; /* Mengatur lebar kartu */
        max-width: 600px; /* Lebar maksimum kartu */
        background-color: rgb(194, 189, 189);
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 4px 8px #6AB7FF;
        padding: 20px;
        margin: 60px auto 30px; /* Mengatur posisi kartu ke bawah dan ke tengah */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


/* Styles untuk gambar profil */
.image img {
    width: 150px; /* Ubah sesuai kebutuhan */
    height: 150px; /* Ubah sesuai kebutuhan */
    border-radius: 80%;
    margin-bottom: 10px;
}

/* Styles untuk konten profil */
.wrapper_profile {
    color: #000000;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.navigation li {
    display: inline-block;
    margin-right: 10px;
}

.navigation li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.navigation li a:hover {
    text-decoration: underline;
}
